<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]=flightForm (ngSubmit)="addFlight()">
        <h2 class="text-center text-primary">Add new flight</h2>
        <hr />
        <div class="form-group">
          <label for="departureAirport">Departure airport</label>
            <ng-select
              [ngClass]="{'is-invalid': flightForm.get('departureAirport').hasError('required') && flightForm.get('departureAirport').touched}"
              formControlName="departureAirport"
              [items]="airports"
              bindLabel="Name"
              placeholder="Departure airport"
            ></ng-select>
        </div>
        <div class="form-group">
          <label for="destinationAirport">Destination airport</label>
            <ng-select
              [ngClass]="{'is-invalid': flightForm.get('destinationAirport').hasError('required') && flightForm.get('destinationAirport').touched}"
              formControlName="destinationAirport"
              [items]="airports"
              bindLabel="Name"
              placeholder="Destination airport"
            ></ng-select>
          <div class="text-danger" *ngIf="flightForm.touched && flightForm.hasError('notUnique')&& !flightForm.get('departureAirport').hasError('required')" >
            <small>Destination and departure airport cannot be the same!</small>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-success" type="submit" [disabled]="flightForm.invalid">Add flight</button>
        </div>
      </form>
    </div>
  </div>
</div>