<app-nav></app-nav>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus assumenda mollitia eveniet error praesentium quos, exercitationem quis perspiciatis id eligendi accusantium explicabo ex dolorem nulla tenetur, quas quaerat at?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquid libero cumque ipsam fugiat enim distinctio optio pariatur aliquam in sapiente delectus necessitatibus, illum tempora eligendi vitae autem perferendis error!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consectetur deleniti ab quibusdam amet quis magnam possimus sapiente eveniet saepe voluptates unde aliquid nihil, fugiat impedit harum aperiam, beatae a.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorum doloremque facere necessitatibus voluptatibus aperiam eum cupiditate rem recusandae similique officia laborum dolore quam molestias magnam at veritatis, nostrum laudantium
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolorem? Dolor omnis aliquam molestias deleniti optio corporis beatae, quo dicta, officia veniam qui. Dolorem quibusdam reiciendis rem inventore laboriosam omnis.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia corporis repellendus iste aliquid aliquam quo. Consequatur omnis delectus cum ratione porro eum adipisci ea hic repudiandae, asperiores temporibus natus quasi!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem aliquid magnam doloribus blanditiis officia maxime veritatis ducimus accusantium, excepturi id praesentium alias delectus atque sapiente optio obcaecati officiis exercitationem. Officia!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloribus tenetur, quos eligendi dolores, commodi pariatur ut, labore corrupti vel vero odio minus asperiores explicabo. Quisquam natus magni optio impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus odit odio mollitia laborum impedit libero a beatae, dolorem qui iusto amet quibusdam, consectetur quasi sequi tenetur. Rem, sapiente placeat! Velit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis nemo recusandae sint dolorum exercitationem explicabo hic repellat animi consequuntur. Ab exercitationem expedita asperiores quis incidunt molestias, adipisci reiciendis molestiae sunt?
  </h1>

<router-outlet></router-outlet>
